* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #23252C;
}

.head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.head-pic {
    width: 325px;
    height: 325px;
}